<div class="form-container">
  <div class ="form-border">
    <div class="form">
      <%= simple_form_for(@travel) do |f| %>
        <%= f.input :title, label: 'Title' %>
        <%= f.input :description, label: 'Subtitle' %>
        <%= f.input :longdescription, label: 'Description' %>
        <%= f.input :duration, label: 'Duration' %>
        <%= f.input :price, label: 'Price' %>
        <%= f.input :capacity, label: 'Capacity' %>
        <%= f.input :photo, as: :file %>
        <%= f.input :address %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
