<div class="bookingh2">
  <h2>Discover our travels!</h2>
</div>

<div class="card-index" style="display: flex">
  <% half = @travels.count / 2 %>
  <div class="column-left">
    <% @travels[0..half].each do |travel| %>
      <div class="card-full">
        <% if policy(travel).show? %>
          <%= link_to travel_path(travel), class: "d-flex" do  %>
            <div class="card-travel-index">
              <%= cl_image_tag travel.photo.key, height: 200, width: 398, crop: :fill %>
              <h1><%= travel.title %></h1>
            </div>
          <% end %>
          <div class="card-text">
            <h2><strong><%= travel.price %></strong> €</h2>
            <hr />
            <h2><strong><%= travel.capacity %></strong> travelers</h2>
            <hr />
            <h2><strong><%= travel.duration %></strong> days</h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="border-middle"></div>

  <div class="column-right">
    <% @travels[half + 1..-1].each do |travel| %>
      <div class="card-full">
        <% if policy(travel).show? %>
          <%= link_to travel_path(travel), class: "d-flex" do  %>
            <div class="card-travel-index">
              <%= cl_image_tag travel.photo.key, height: 200, width: 398, crop: :fill %>
              <h1><%= travel.title %></h1>
            </div>
          <% end %>
          <div class="card-text">
            <h2><strong><%= travel.price %></strong> €</h2>
            <hr />
            <h2><strong><%= travel.capacity %></strong> travelers</h2>
            <hr />
            <h2><strong><%= travel.duration %></strong> days</h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

