<div class="form-container">
  <div class ="form-border">
    <div class="form">
      <%= simple_form_for(@travel) do |f| %>

      <%= f.input :title, label: 'Destination' %>
      <%= f.input :description, label: 'Title' %>
      <%= f.input :longdescription, label: 'Description' %>
      <%= f.input :address, label: 'Departure from'  %>
      <%= f.input :duration, label: 'Duration' %>
      <%= f.input :capacity, label: 'Capacity' %>
      <%= f.input :price, label: 'Price' %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>
