<div class="mx-auto text-center" style="width: 100%">

<%= cl_image_tag @travel.photo.key, height: 300, width: 400, crop: :fill %>

      <h1>
    <%= @travel.title %>
  </h1>
  <p>
    <%= @travel.description %>
  </p>

<ul>
<h1>Booking</h1>
<% if current_user == @travel.user %>
  <% @travel.bookings.each do |booking| %>
    <li>
      <%= booking.note %> || <%= booking.date %>
<%= link_to "Index", bookings_path, class: "btn btn-primary"%>
<%= link_to "Add note", new_booking_review_path(@booking), class: "btn btn-primary" %>
      <%= link_to "Delete booking", booking_path(booking), method: :delete %>
      </li>
  <% end %>
<% else %>
  <%= render 'bookings/form', travel: @travel, booking: @booking %>
<% end %>
</ul>


  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" style="margin-top: 50px">
    <%= link_to 'Back to homepage', travels_path %>
  </button>
  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" style="margin-top: 50px">
    <% if policy(Travel).create? %>
      <%= link_to "New Travel", new_travel_path %>
    <% end %>
  </button>
</div>
