<div class="d-flex justify-content-center">
    <div class="showborder">
      <div class="showcontainer">

        <div class="top">
          <div class="left">
            <div class="title">
              <strong><%= @travel.title %></strong>
            </div>
            <div class="show-container-image">
              <% if @travel.photo.attached? %>
                <%= cl_image_tag(@travel.photo.key) %>
              <% else %>
                <%= image_tag "voyage.jpg", :style => "border-radius: 25px 25px 25px 25px" %>
              <% end %>
            </div>
          </div>

          <div class="right">
            <div class="duration label">
              <div>Duration :&nbsp</div>
              <div><strong><%= @travel.duration %></strong><span> days</span></div>
            </div>
            <div class="price label">
              <div>Price :&nbsp</div>
              <div><strong><%= @travel.price %></strong><span> €</span></div>
            </div>
            <div class="capacity label">
              <div>Capacity :&nbsp</div>
              <div><strong><%= @travel.capacity %></strong><span> travelers</span></div>
            </div>
            <div class="description label">
              <div>Description :&nbsp</div>
              <div class="description_text">
              <div><%= @travel.description %></div>
            </div>
          </div>
          </div>
        </div>
        <div class="bottom-container">
          <div class="bottom">
            <% unless @bookings && current_user == @travel.user %>
              <h1>Book this trip!</h1>
              <%= render 'bookings/form', travel: @travel, booking: @booking, :style => "margin: 50%" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>



