<div class="mx-auto text-center" style="width: 100%">
  <h1>
    <%= @travel.title %>
  </h1>
  <p>
    <%= @travel.description %>
  </p>
</div>
<div class="mx-auto text-center" style="width: 100%">

<% if @travel.photo.attached? %>
<%= cl_image_tag(@travel.photo.key, height: 300, width: 400, crop: :fill, :style => "border-radius: 25px 25px 25px 25px") %>
<% else %>
<%= image_tag "voyage.jpg", :style => "border-radius: 25px 25px 25px 25px" %>
<% end %>


<ul>
<% if @bookings && current_user == @travel.user %>
<br>
  <% @travel.bookings.each do |booking| %>
      <br>
    <br>
    <li>
      <%= booking.note %> || <%= booking.date %>
<%= link_to "Add note", new_booking_review_path(@booking), class: "btn btn-primary" %>
<%= link_to "Index", bookings_path, class: "btn btn-primary"%>
      <%= link_to "Delete booking", booking_path(booking), method: :delete %>
      </li>
  <% end %>
<% else %>
    <br>
    <br>
  <h1>Booking</h1>
  <%= render 'bookings/form', travel: @travel, booking: @booking, :style => "margin: 50%" %>
<% end %>
<div style="display: inline-flex">
  <div>
    <% if @bookings && current_user != @travel.user %>
    <h6>Your choosen dates</h6>
    <div style="display: block">
      <% @bookings.each do |booking|%>
        <div>
          <%= booking.date %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</ul>
</div>
