<div class="bookingh2">
  <h2>My Bookings</h2>
</div>
<% if ! @bookings.blank? %>
<div class="card-index" style="display: flex">
  <% half = @bookings.count / 2 %>
  <div class="column-left">
    <% @bookings[0..half].each do |booking| %>
      <div class="card-full">
        <% if booking.user == current_user %>
            <div class="card-travel-index">
              <%= cl_image_tag booking.travel.photo.key, height: 200, width: 398, crop: :fill %>
              <h1><%= booking.travel.title %></h1>
            </div>
          <div class="card-text2">
            <h1><strong>RESUME</strong></h1>
            <h2>Price : <strong><%= booking.travel.price %></strong> €</h2>
            <h2><strong><%= booking.travel.capacity %></strong> travelers - <strong><%= booking.travel.duration %></strong> days</h2>
            <hr />
            <p><%= booking.travel.longdescription %></p>
            <%= link_to "show", travel_path(booking.travel)  %>
            <%= link_to "delete", booking_path(booking), method: :delete %>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>

  <div id="border-middle"></div>

  <div class="column-right">
    <% @bookings[half + 1..-1].each do |booking| %>
      <div class="card-full">
        <% if booking.user == current_user %>
            <div class="card-travel-index">
              <%= cl_image_tag booking.travel.photo.key, height: 200, width: 398, crop: :fill %>
              <h1><%= booking.travel.title %></h1>
            </div>
          <div class="card-text2">
            <h1><strong>RESUME</strong></h1>
            <h2>Price : <strong><%= booking.travel.price %></strong> €</h2>
            <h2><strong><%= booking.travel.capacity %></strong> travelers - <strong><%= booking.travel.duration %></strong> days</h2>
            <hr />
            <p><%= booking.travel.longdescription %></p>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

<% else %>
<div>No booking yet</div>
<% end %>
