<div>

</div>
<div class="mx-auto text-center" style="width: 100%">

<h1><%= @booking.date %></h1>
<p><%= @booking.note %></p>
<h6><%= @booking.travel.title %></h6>
<p><%= @booking.travel.description %></p>


  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" style="margin-top: 50px">
    <%= link_to 'Back to homepage', travels_path %>
  </button>
  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" style="margin-top: 50px">
    <% if policy(Travel).create? %>
      <%= link_to "New Travel", new_travel_path %>
    <% end %>
  </button>
  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" style="margin-top: 50px">
    <%= link_to 'My bookings', bookings_path %>
  </button>
</div>
