<div class="banner">
  <%= image_tag "banniereavecmessage.png"%>
</div>

<div class="container">

  <%= link_to travels_path do %>
    <div class="card-category">
      <%= image_tag 'Planetscategoryimage.png' %>
      <div class="card-trip-infos">
        <div>
          <h2 class="title">Travels</h2>
        </div>
      </div>
    </div>
  <% end %>

    <a href="#"><div class="card-category">
    <%= image_tag "spaceshipscategoryimage.png"%>
    <div class="card-trip-infos">
      <div>
        <h2 class="title">SPACESHIPS</h2>
      </div>
    </div>
  </div></a>


    <a href="#"><div class="card-category">
    <%= image_tag "tripscategoryimage.png"%>
    <div class="card-trip-infos">
      <div>
        <h2 class="title">TRIPS</h2>
      </div>
    </div>
  </div></a>

</div>
