<div class="banner" style="background-image: url(https://res.cloudinary.com/vincentpacheco/image/upload/v1597932245/bannieresansmessage_wyntl4.png);">
  <div class="content">
     <h1><strong>Welcome aboard.</strong></h1>
    <p>Send yourself to the infinite and beyond.</p>
    <%= link_to "Find now", travels_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <%= link_to travels_path do %>
    <div class="card-category">
      <%= image_tag 'Planetscategoryimage.png' %>
      <div class="card-trip-infos">
        <div>
          <h2 class="title">Travels</h2>
        </div>
      </div>
    </div>
  <% end %>

    <a href="#"><div class="card-category">
    <%= image_tag "spaceshipscategoryimage.png"%>
    <div class="card-trip-infos">
      <div>
        <h2 class="title">SPACESHIPS</h2>
      </div>
    </div>
  </div></a>


    <a href="#"><div class="card-category">
    <%= image_tag "tripscategoryimage.png"%>
    <div class="card-trip-infos">
      <div>
        <h2 class="title">TRIPS</h2>
      </div>
    </div>
  </div></a>
</div>
